spring:
  application:
    name: clash-bot-service-local
  jpa:
    hibernate:
      ddl-auto: update
aws:
  endpoint-configuration:
    url: http://127.0.0.1:4566
    signingRegion: us-east-1
cloud:
  aws:
    credentials:
      access-key: local
      secret-key: local
    region:
      static: us-east-1
    stack:
      auto: false
riot:
  url: https://na1.api.riotgames.com
  api-key: ${RIOT_API_KEY}
  timeout: 30s
logging:
  level:
    com.poss.clash: INFO
