name: Build - Clash Bot WebApp

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - '**/.gitignore'

jobs:
  build-artifact:
    name: "Build Clash Bot Spring Service"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Gradle build
        run: |
          ls -lha
          CI=true ./gradlew clean build

      - name: Helm Lint
        run: |
          helm lint ./helm -f helm/local-values.yaml

      - name: Helm Lint
        run: |
          helm package ./helm

      - name: Publish artifacts
        uses: actions/upload-artifact@v3
        with:
          name: pr-artifacts
          path: /clash-bot-service*.tgz
