name: Build - Clash Bot WebApp

on:
  push:
    tags:
      - 'v*'

jobs:
  build-artifact:
    name: "Build Clash Bot Spring Service"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Gradle build
        run: |
          ls -lha
          CI=true ./gradlew clean build
